body {
	margin: 0;
	padding: 0;
	background-image: url("../images/ep_naturalblack.png");
	min-height: 100%;
	position: relative;
	padding-bottom: 20px;

}

#name {
	background-color: #6f0204;
	margin: 0;
	padding: 0;
	height: 55px;
	width: 100%;
	opacity: .5;
}

#name h1 {
	color: white;
	font-size: 45px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#link {
	background-color: #9a0002;
	width: 100%;
	height: 30px;
	color: white;
	text-align: center;
	font-size: 25px;
}


#link ul {
	margin: 0;
	display: inline;
}

#link ul li {
	padding-left: 10px;
	display: inline-block;
	list-style-type: none;
	border-left: 1px solid #9999af;	
}

#link ul a:hover {
	color: black;
}

#link ul li:first-child {
	border-left: none;
}

#link ul li a {
	color: white;
}

#content {
	max-width: 800px;
	margin:0 auto;
}

#maincontent {
	text-align: center;
	float: left;
	background-color: black;
	color: red;
	width: 500px;
}

#maincontent p {
	border-top: solid;

}

#connect {
	text-align: center;
	background-color: #9a0002;
	float: left;
	width: 200px;
	margin-left: 100px
}

.cleardiv {
	clear: both;
}

#footer {
	width: 100%;
	background-color:#9a0002;
	position: absolute;	
	left: 0; 
	right: 0;
	bottom: 0;
	height: 20px;

}